@import url('https://fonts.cdnfonts.com/css/cartoonist');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cartoonist', sans-serif;
}


a {
    text-decoration: none;
}

/* Styles for Body */

body {
    width: 100%;
    height: 100vh;
}

/* Style for Wrapper */

.wrapper {
    display: none;
}

/* Portrait Notification Styles */

.portrait-notification {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cp {
    position: absolute;
    width: 50px;
    height: 80px;
    border: 1px solid white;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    margin-bottom: 5px;
    top: 32%;
    animation-name: cpAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@media screen and (min-width: 560px) and (orientation: landscape){
    
    /* Hide Portrait Notification Div */

    .portrait-notification{
        display: none;
    }

    /* Wrapper */
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-image: url(../images/background/inventorybg.png);
        background-size: 100% 100%;
        position: relative;
    }

    /* Loader2-Wrapper */
    .loader2-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: black;
        z-index: 10;
    }

    .loader-container2 {
        width: 100%;
        height: 20%;
        color: white;
    }

    .arvi-container {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 2%;
    }


    .arvi-loader {
        width: 7%;
        height: 100%;
        margin-right: 2%;
    }

    .arvi-text {
        font-size: 2.3vw;
    }

    .progress-container {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: flex-end;
    }

    .progress-bar {
        width: 100%;
        height: 60%;
        border-top-right-radius: 1px;
        border-bottom-right-radius: 1px;
        background-color: white;
        animation: progressBar 10s ease-in-out;
    }

    .container {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.73);
        display: flex;
    }

    .arvi-div {
        width: 50%;
        height: 100%;
    }

    .map-btn-container {
        width: 100%;
        height: 20%;
        padding-top: 2%;
        padding-left: 2%;
    }

    .map-btn {
        width: 50%;
        height: 70%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        letter-spacing: 2px;
        background-image: url(../images/background/buttons.png);
        background-size: 100% 100%;
        -webkit-text-stroke: 1px black;
        background-repeat: no-repeat;
        border: none;
        color: white;
        cursor: pointer;
    }

    .arvi-img-div {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arvi {
        width: 60%;
        height: 70%;
    }

    .inventory-div {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inventory-container {
        width: 90%;
        height: 90%;
        border: 3px solid rgb(104, 44, 2);
        background-color: rgb(208, 97, 17);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-container {
        width: 80%;
        height: 10%;
        letter-spacing: 1px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3vw;
        background-color: rgb(135, 60, 6);
        border-radius: 20px;
    }

    .item-container {
        width: 90%;
        height: 80%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        padding: 5%;
        grid-gap: 5%;
        place-items: center;
    }

    .item {
        width: 90%;
        height: 100%;
        border-radius: 5px;
        border: black solid 1px;
        background-color: #F8CBAD;
        background-size: 60% 60%;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }

    .item1 {
        background-image: url(../images/power-ups/default-powerUp.png);
    }

    .item2 {
        background-image: url(../images/power-ups/harddrive.png);
        
    }

    .item3 {
        background-image: url(../images/power-ups/cpu.png);
        background-size: 70% 50%;
    }

    .item4 {
        background-image: url(../images/power-ups/ram.png);
    }

    .item5 {
        background-image: url(../images/power-ups/fan.png);
    }

    .item6 {
        background-image: url(../images/power-ups/psu.png);
    }


    .power-up-info-modal {
        width: 100%;
        height: 100%;
        z-index: 5;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .power-up-info {
        width: 50%;
        height: 60%;
        display: flex;
        flex-direction: column;
        padding: 2%;
        align-items: center;
        justify-content: flex-end;
        background-image: url(../images/power-ups/info-bg.png);
        background-size: 100% 100%;
    }

    .image-container {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;
    }

    .power-up-image {
        width: 40%;
        height: 100%;
    }

    .btn-container {
        width: 100%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
    }

    .btn {
        text-align: center;
        border: 1px black solid;
        margin: 2px;
        padding: 10px;
        border-radius: 20px;
        cursor: pointer;
    }

    .equipped {
        border-radius: 30px;
        border: 5px solid red;
        box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2), 0 12px 20px 0 rgba(0,0,0,0.19);
    }


}